@font-face {
	font-family: "PT Serif";
	src: url("/PT_Serif/PTSerif-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "PT Serif";
	src: url("/PT_Serif/PTSerif-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: "PT Serif";
	src: url("/PT_Serif/PTSerif-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "PT Serif";
	src: url("/PT_Serif/PTSerif-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("/IBM_Plex_Mono/IBMPlexMono-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("/IBM_Plex_Mono/IBMPlexMono-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("/IBM_Plex_Mono/IBMPlexMono-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
	font-display: block;
}
