@import "tailwindcss";

@font-face {
	font-family: "PT Serif";
	src: url("/PT_Serif/PTSerif-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "PT Serif";
	src: url("/PT_Serif/PTSerif-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: "PT Serif";
	src: url("/PT_Serif/PTSerif-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "PT Serif";
	src: url("/PT_Serif/PTSerif-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
	font-display: block;
}

html {
	background-color: var(--color-stone-100);
	font-family: "PT Serif", Garamond, serif;
	font-size: 18px;
	/*line-height: 1;*/
}

body {
	min-height: 100svh;
	-webkit-text-size-adjust: 100%;
}

#root {
	padding-top: 32px;
	padding-bottom: 32px;
	max-width: var(--container-2xl);
	min-height: 100svh;
}

#root > main {
	padding: 16px;
}

@media (max-width: 800px) {
	#root {
		padding: 0;
		max-width: none;
		min-width: 320px;
	}

	#root > main {
		padding: 8px;
	}
}

hr {
	color: var(--color-stone-300);
}

a {
	text-decoration: underline;
}

a.icon {
	text-decoration: none;
	user-select: none;
}

.editor {
	padding: 0 16px;
	outline: none;

	min-height: 320px;
	:focus {
		outline: none;
	}
}

.editor,
.content {
	h1 {
		font-size: 48px;
		margin-top: 16px;
		margin-bottom: 24px;
		border-bottom: 3px solid var(--color-stone-200);
	}

	h2 {
		font-size: 32px;
		margin-top: 16px;
		margin-bottom: 16px;
		border-bottom: 1px solid var(--color-stone-200);
	}

	h3 {
		font-size: 24px;
	}

	p {
		font-size: 18px;
		margin: 16px 0;
	}

	blockquote {
		margin: 0.5em 0;
		padding: 0.75em;
		border-left: 4px solid var(--color-stone-400);
		background-color: var(--color-stone-200);
		font-size: 18px;
	}
}
