@import "tailwindcss";

html {
	font-family: "PT Serif", Garamond, serif;
	background-color: var(--color-stone-100);
}

body {
	min-height: 100svh;
	-webkit-text-size-adjust: 100%;
}

#root {
	padding-top: 32px;
	padding-bottom: 32px;
	max-width: var(--container-3xl);
	min-height: 100svh;
}

#root > main {
	padding: 16px;
}

@media (max-width: 800px) {
	#root {
		padding: 0;
		max-width: none;
		min-width: 320px;
	}

	#root > main {
		padding: 8px;
	}
}

a {
	text-decoration: underline;
}

#home {
	text-decoration: none;
}

.editor {
	padding: 0 16px;
	outline: none;

	min-height: 320px;
	:focus {
		outline: none;
	}
}

.editor,
.content {
	h1 {
		font-size: 48px;
		margin-top: 16px;
		margin-bottom: 24px;
		border-bottom: 3px solid var(--color-stone-200);
	}

	h2 {
		font-size: 32px;
		margin-top: 16px;
		margin-bottom: 16px;
		border-bottom: 1px solid var(--color-stone-200);
	}

	h3 {
		font-size: 24px;
	}

	p {
		font-size: 16px;
		margin: 16px 0;
	}

	blockquote {
		margin: 0.5em 0;
		padding: 0.75em;
		border-left: 4px solid var(--color-stone-400);
		background-color: var(--color-stone-200);
		font-size: 18px;
	}
}
