@import "tailwindcss";

:root {
	--page-frame: 32px;
}

html {
	background-color: var(--color-stone-100);
	font-family: "PT Serif", Garamond, serif;
	/*font-size: 18px;*/
}

body {
	margin: auto;
	max-width: 1024px;
	min-height: 100svh;
	-webkit-text-size-adjust: 100%;

	padding: 0 var(--page-frame);
}

#root {
	padding: var(--page-frame) 0;
	max-width: 680px;
	min-height: 100svh;
}

#root > header {
	font-size: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

#root > main {
	padding: 0 16px;
}

#root > main nav {
	font-size: 16px;
}

@media (max-width: 704px) {
	:root {
		--page-frame: 0;
	}

	#root {
		max-width: none;
		min-width: 320px;
	}

	#root > header {
		font-size: 16px;
		padding-left: 12px;
		padding-right: 12px;
	}

	#root > main {
		padding: 0 12px;
	}
}

hr {
	color: var(--color-stone-300);
}

a {
	text-decoration: underline;
	transition: color 0.2s ease;
}

a:hover {
	color: var(--color-stone-700);
}

a.icon {
	text-decoration: none;
	user-select: none;
}

.editor {
	font-family: "IBM Plex Mono";
}

.editor .cm-editor {
	outline: none;
}

.editor .cm-content {
	min-height: 320px;
}

.editor,
.content {
	h1 {
		font-size: 48px;
		margin-top: 48px;
		margin-bottom: 24px;
		border-bottom: 3px solid var(--color-stone-200);
	}

	h2 {
		font-size: 32px;
		margin-top: 32px;
		margin-bottom: 16px;
		border-bottom: 1px solid var(--color-stone-200);
	}

	h3 {
		font-size: 24px;
		margin-top: 24px;
		margin-bottom: 16px;
	}

	p {
		font-size: 18px;
		margin: 16px 0;
	}

	blockquote {
		margin: 1em 0;
		contain: layout;
		padding-left: 1em;
		border-left: 4px solid var(--color-stone-400);
		background-color: var(--color-stone-200);
		font-size: 18px;
	}

	ol,
	ul {
		padding-left: 1em;
		margin: 1em 0;
		margin-left: 0.25em;
	}

	ol {
		list-style: decimal;
	}

	ul {
		list-style: disc;

		ul {
			list-style: circle;
		}
	}

	li {
		display: list-item;
	}

	pre {
		margin: 1em 0;
		padding: 8px;
		font-size: 14px;
		font-family: "IBM Plex Mono";
		background-color: var(--color-stone-200);
	}
}
